@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    border: 6px solid #B8B8B8;
    border-radius: 6px 6px 6px 6px;
}

#popper{

    padding: 50px;
    max-width: 400px;
    max-height: 320px;
}

#efectos{
    padding: 20px;
}

#clas{
    font-family: 'Peralta', cursive;
    padding: 10px;
}

#tittle{
    padding: 10px;
    font-size: 49px;
    font-family: 'Peralta', cursive;

}

strong{
    font-family: 'Peralta', cursive; 
}